<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sample">
	<parameter name="browser" value="CH"></parameter>
	<parameter name="url" value="https://propeli-uat.sfxapps.com/login"></parameter>
	<test thread-count="1" name="Test">
		<classes>
			<class name="com.safex.MDM.automation.CrossBrowserDemo" /> 
			<class name="com.safex.MDM.automation.JenkinsParameterisedDemo"/>
			<class name="com.safex.MDM.automation.LaunchFFDemo"/>
		<!--	<class name="com.safexp.MDM.automation.baseClass.BaseClass"> 
				<methods>
				<include name="launchApp"></include>
				</methods>
			</class> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
